#page-admin-auth-simplesaml table.configtable label {
    min-width: 12em;
}
#page-admin-auth-simplesaml table.configtable td {
    padding-bottom: 0.5em;
}
#page-admin-auth-simplesaml table.configtable td.desc {
    font-size: 0.9em;
    padding-left: 1.5em;
}
